{{#isFormParam}}@RequestParam(value = "{{baseName}}"{{^required}}, required = false{{/required}}) {{#useBeanValidation}}{{>beanValidation}} {{/useBeanValidation}}{{paramName}}: {{dataType}}{{#hasMore}}{{/hasMore}}{{^hasMore}}{{/hasMore}}{{/isFormParam}}