{{#isPathParam}}@PathVariable("{{baseName}}") {{#useBeanValidation}}{{>beanValidation}} {{/useBeanValidation}}{{paramName}}: {{dataType}}{{#hasMore}}{{/hasMore}}{{^hasMore}}{{/hasMore}}{{/isPathParam}}